// 主色
$color-primary: #009c5d;
// 成功色
$color-success: #09be4f;
// 警告色
$color-warning: #ffb703;
// 危险色
$color-danger: #ff2b2b;
// 错误色
$color-error: #ee0a24;

/** 基础色 */
$color-white: #fff;
$color-gray: #f2f3f5;

/** 文字颜色 */
$color-text-black: #323233;
$color-text-black-2: #646566;
$color-text-black-3: #969799;

$color-active-color: $color-gray;

$colors: (
  primary: $color-primary,
  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
  error: $color-error,
  white: $color-white,
  gray: $color-gray,
  black: $color-text-black,
  black-2: $color-text-black-2,
  black-3: $color-text-black-3,
  red: $color-danger,
  active-color: $color-active-color,
);
