@import './vars.scss';
@import './color.scss';
@import './layout.scss';

:root,
page {
  // 页面背景色
  --color-page-bg-gray: #f2f3f5;

  @each $name, $color in $colors {
    @include _setVar(color-#{$name}, $color);
  }
}

.color-primary {
  color: _var(color-primary);
}

@each $name in white, gray {
  .bg-#{'' + $name} {
    background-color: _var(color-#{$name});
  }
}

@each $name in white, black, black-2, black-3 {
  .text-#{'' + $name} {
    color: _var(color-#{$name});
  }
}

.text-red {
  color: _var(color-danger);
}
