// 定义字体大小
@for $i from 20 through 65 {
  .text-#{$i} {
    font-size: $i + $pixelUnit;
  }
}

// 定义字体行高
@for $i from 10 through 65 {
  .leading-#{$i} {
    line-height: $i + $pixelUnit;
  }
}

// 文本对齐
@each $val in left, center, right, justify {
  .text-#{$val} {
    text-align: $val;
  }
}

// 字体粗细
.font-normal {
  font-weight: normal;
}

.font-w-400 {
  font-weight: 400;
}

.font-w-500 {
  font-weight: 500;
}

.font-bold {
  font-weight: bold;
}

// 价格文本
.text-price::before {
  content: '¥';
  font-size: 80%;
  margin-right: 4upx;
}

/* start--文本行数限制--start */
.line-length-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.line-length-2 {
  -webkit-line-clamp: 2;
}

.line-length-3 {
  -webkit-line-clamp: 3;
}

.line-length-4 {
  -webkit-line-clamp: 4;
}

.line-length-5 {
  -webkit-line-clamp: 5;
}

.line-length-2,
.line-length-3,
.line-length-4,
.line-length-5 {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; // 弹性伸缩盒
  -webkit-box-orient: vertical; // 设置伸缩盒子元素排列方式
}
/* end--文本行数限制--end */
