@import './layout_flex.scss';
@import './layout_align.scss';
@import './layout_justify.scss';
@import './layout_margin.scss';
@import './layout_font.scss';
@import './layout_border.scss';
@import './layout_float.scss';
@import './layout_grid.scss';
@import './vars.scss';

// nvue不能用标签命名样式，不能放在微信组件中，否则微信开发工具会报警告，无法使用标签名当做选择器
/* #ifndef APP-NVUE */
image {
  display: inline-block;
}

// 在weex，也即nvue中，所有元素默认为border-box
view,
text {
  box-sizing: border-box;
}
/* #endif */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.block {
  display: block;
}

.width-full {
  width: 100%;
}
.width-min {
  width: min-content;
}
.width-max {
  width: max-content;
}
.width-50 {
  width: 50%;
}
.height-full {
  height: 100%;
}

.bg-hover {
  background-color: #f7f8f9 !important;
}

// 点击反馈
.clickable--hover {
  position: relative;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #000;
    border: inherit;
    border-color: #000;
    border-radius: inherit;
    transform: translate(-50%, -50%);
    opacity: 0;
    content: ' ';
  }
  &:active {
    opacity: 0.2;
  }
}

.safe-buttom-padding {
  @include safeBottomPadding();
}
