$prefix: pa;

@function _var($varName, $default: null) {
  @if ($default == null) {
    @return var(--#{$prefix}-#{$varName});
  } @else {
    @return var(--#{$prefix}-#{$varName}, $default);
  }
}

@mixin _setVar($varName, $value) {
  --#{$prefix}-#{$varName}: #{$value};
}

@mixin safeBottomPadding($value: 0) {
  padding-bottom: $value;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
