$prefix: pa;

@function _var($varName) {
  @return var(--#{$prefix}-#{$varName});
}

@mixin _setVar($varName, $value) {
  --#{$prefix}-#{$varName}: #{$value};
}

$componentVars: (
  // tabs
  tabs-height: 44px,
  tabs-font-size: 14px,
  tabs-line-width: 80rpx,
  tabs-line-height: 6rpx,
  // checkbox-btns
  checkbox-btns-font-size: 28rpx,
  checkbox-btns-padding: 14rpx 8rpx,
  // number-input
  number-input-height: 48rpx,
  number-input-text-color: _var(color-primary),
  number-input-disabled: #323233,
  number-input-placeholder-color: #c8c9cc,
  // cell
  cell-padding-x: 16px,
  cell-padding-y: 10px,
  cell-font-size: 14px,
  cell-line-height: 24px,
  cell-bg-color: #fff,
  // cell-group
  cell-group-margin-x: 16px,
  cell-group-rounded: 8px,
  cell-group-bg-color: 8px,
  // section
  section-padding: 12px 10px,
  section-font-size: 14px,
  // field
  field-input-color: _var(color-primary),
  // search
  search-padding: 10px 12px
);
