@import '../../styles/vars.scss';

.#{$prefix}-menu {
  $barHeight: _var(menu-height, 48px);

  position: relative;
  &__bar {
    position: relative;
    display: flex;
    height: $barHeight;
    background-color: _var(menu-background, #fff);
    box-shadow: _var(menu-shadow, 0 2px 12px rgb(100 101 102 / 12%));
  }

  &__item {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    min-width: 0;
    cursor: pointer;
  }

  &__title {
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    padding: _var(menu-title-padding, 0 8px);
    color: _var(menu-title-color, _var(color-black));
    font-size: _var(menu-title-font-size, 15px);
    line-height: _var(menu-title-line-height, 22px);

    &::after {
      position: absolute;
      top: 50%;
      right: -4px;
      margin-top: -5px;
      border: 3px solid;
      border-color: transparent transparent #dcdee0 #dcdee0;
      transform: rotate(-45deg);
      opacity: 0.8;
      content: '';
      transition: all 0.2s linear;
    }
  }

  &__body {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: $barHeight;
    overflow: hidden;
  }

  &--active &__title {
    color: _var(menu-active-color, _var(color-primary));
    &::after {
      margin-top: -1px;
      transform: rotate(135deg);
      border-color: transparent transparent currentColor currentColor;
    }
  }
}
