@import '../../styles/vars.scss';
.#{$prefix}-icon {
  position: relative;
  display: inline-block;
  font-size: _var(icon-size, 16px);
  color: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}
