@import '../../styles/vars.scss';
.#{$prefix}-button {
  display: inline-block;
  height: _var(button-height, 44px);
  line-height: _var(button-line-height, 1.2);
  margin: _var(button-margin, 0);
  border: 1px solid transparent;
  border-radius: _var(button-border-radius, 5px);
  box-sizing: border-box;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__loading-icon + &__text,
  &__icon + &__text {
    margin-left: 4px;
  }

  &__icon {
    font-size: 1.2em;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #000;
    border: inherit;
    border-color: #000;
    border-radius: inherit;
    transform: translate(-50%, -50%);
    opacity: 0;
    content: ' ';
  }
  &::after {
    border: none;
  }

  &--hover {
    &::before {
      opacity: 0.1;
    }
  }

  &--default {
    color: _var(color-black);
    background-color: #fff;
    border-color: #ebedf0;
  }
  &--primary {
    color: #fff;
    background-color: _var(color-primary);
    border-color: _var(color-primary);
  }
  &--warning {
    color: #fff;
    background-color: _var(color-warning);
    border-color: _var(color-warning);
  }
  &--danger {
    color: #fff;
    background-color: _var(color-danger);
    border-color: _var(color-danger);
  }

  &--large {
    width: 100%;
    height: 50px;
  }
  &--normal {
    font-size: 14px;
    padding: _var(button-padding, 0 15px);
  }
  &--small {
    height: 32px;
    font-size: 12px;
    padding: _var(button-padding, 0 8px);
  }
  &--mini {
    height: 24px;
    font-size: 10px;
    padding: _var(button-padding, 0 4px);
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--plain {
    background-color: transparent;
    &.#{$prefix}-button--primary {
      color: _var(color-primary);
    }
    &.#{$prefix}-button--warning {
      color: _var(color-warning);
    }
    &.#{$prefix}-button--danger {
      color: _var(color-danger);
    }
  }
  &[disabled]:not([type]) {
    color: _var(color-black);
    background-color: #c8c9cc;
    border-color: #c8c9cc;
  }

  &--ellipsis &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
