@font-face {
  font-family: "pa-icon"; /* Project id 3668565 */
  src: url('iconfont.woff2?t=1715567017689') format('woff2'),
       url('iconfont.woff?t=1715567017689') format('woff'),
       url('iconfont.ttf?t=1715567017689') format('truetype');
}

.pa-icon {
  font-family: "pa-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pa-icon-refresh:before {
  content: "\e6a4";
}

.pa-icon-file-excel:before {
  content: "\e7b8";
}

.pa-icon-file-pdf:before {
  content: "\e7ba";
}

.pa-icon-file-markdown:before {
  content: "\e7bb";
}

.pa-icon-file-ppt:before {
  content: "\e7bc";
}

.pa-icon-file-word:before {
  content: "\e7bd";
}

.pa-icon-file:before {
  content: "\e7be";
}

.pa-icon-file-zip:before {
  content: "\e7bf";
}

.pa-icon-order:before {
  content: "\e66d";
}

.pa-icon-voice:before {
  content: "\e6ef";
}

.pa-icon-voice-fill:before {
  content: "\e6f0";
}

.pa-icon-sort:before {
  content: "\e700";
}

.pa-icon-attention-fill:before {
  content: "\e73c";
}

.pa-icon-attention:before {
  content: "\e73d";
}

.pa-icon-add:before {
  content: "\e767";
}

.pa-icon-move:before {
  content: "\e768";
}

.pa-icon-my:before {
  content: "\e78b";
}

.pa-icon-my-fill:before {
  content: "\e78c";
}

.pa-icon-attention-forbid:before {
  content: "\e7b2";
}

.pa-icon-attention-forbid-fill:before {
  content: "\e7b3";
}

.pa-icon-exit:before {
  content: "\e7cb";
}

.pa-icon-more:before {
  content: "\e684";
}

.pa-icon-copy:before {
  content: "\e706";
}

.pa-icon-round-check:before {
  content: "\e657";
}

.pa-icon-round-close:before {
  content: "\e659";
}

.pa-icon-appreciate:before {
  content: "\e644";
}

.pa-icon-edit:before {
  content: "\e649";
}

.pa-icon-favor-fill:before {
  content: "\e64b";
}

.pa-icon-favor:before {
  content: "\e64c";
}

.pa-icon-location-fill:before {
  content: "\e650";
}

.pa-icon-warn-fill:before {
  content: "\e662";
}

.pa-icon-warn:before {
  content: "\e663";
}

.pa-icon-like-fill:before {
  content: "\e668";
}

.pa-icon-like:before {
  content: "\e669";
}

.pa-icon-settings:before {
  content: "\e68a";
}

.pa-icon-question-fill:before {
  content: "\e690";
}

.pa-icon-question:before {
  content: "\e691";
}

.pa-icon-more-android:before {
  content: "\e6a5";
}

.pa-icon-delete-fill:before {
  content: "\e6a6";
}

.pa-icon-qrcode:before {
  content: "\e6b0";
}

.pa-icon-delete:before {
  content: "\e6b4";
}

.pa-icon-message:before {
  content: "\e6bc";
}

.pa-icon-link:before {
  content: "\e6bf";
}

.pa-icon-appreciate-fill:before {
  content: "\e6e3";
}

.pa-icon-info-fill:before {
  content: "\e6e4";
}

.pa-icon-info:before {
  content: "\e6e5";
}

.pa-icon-forward-fill:before {
  content: "\e6ea";
}

.pa-icon-forward:before {
  content: "\e6eb";
}

.pa-icon-recharge-fill:before {
  content: "\e6ec";
}

.pa-icon-recharge:before {
  content: "\e6ed";
}

.pa-icon-notice-fill:before {
  content: "\e709";
}

.pa-icon-notice:before {
  content: "\e70a";
}

.pa-icon-apps:before {
  content: "\e729";
}

.pa-icon-calendar:before {
  content: "\e74a";
}

.pa-icon-tag-fill:before {
  content: "\e751";
}

.pa-icon-tag:before {
  content: "\e752";
}

.pa-icon-post:before {
  content: "\e759";
}

.pa-icon-write-fill:before {
  content: "\e760";
}

.pa-icon-write:before {
  content: "\e761";
}

.pa-icon-back-light:before {
  content: "\e7e0";
}

.pa-icon-location:before {
  content: "\e651";
}

.pa-icon-round-check-fill:before {
  content: "\e656";
}

.pa-icon-round-close-fill:before {
  content: "\e658";
}

.pa-icon-camera-fill:before {
  content: "\e664";
}

.pa-icon-camera:before {
  content: "\e665";
}

.pa-icon-scan:before {
  content: "\e689";
}

.pa-icon-filter:before {
  content: "\e69c";
}

.pa-icon-home-fill:before {
  content: "\e6bb";
}

.pa-icon-down:before {
  content: "\e661";
}

.pa-icon-up:before {
  content: "\e6de";
}

.pa-icon-notification:before {
  content: "\e66b";
}

.pa-icon-check:before {
  content: "\e645";
}

.pa-icon-close:before {
  content: "\e646";
}

.pa-icon-left:before {
  content: "\e679";
}

.pa-icon-right:before {
  content: "\e6a3";
}

.pa-icon-half-check:before {
  content: "\e65c";
}

.pa-icon-home:before {
  content: "\e6b8";
}

.pa-icon-left-circle-fill:before {
  content: "\e846";
}

.pa-icon-down-circle-fill:before {
  content: "\e847";
}

.pa-icon-up-circle-fill:before {
  content: "\e848";
}

.pa-icon-right-circle-fill:before {
  content: "\e849";
}

.pa-icon-outdent:before {
  content: "\e7f3";
}

.pa-icon-menu:before {
  content: "\e7f4";
}

.pa-icon-unordered-list:before {
  content: "\e7f5";
}

.pa-icon-swap:before {
  content: "\e7f2";
}

.pa-icon-image:before {
  content: "\e60c";
}

.pa-icon-image-error:before {
  content: "\e60d";
}

.pa-icon-minus-square:before {
  content: "\e796";
}

.pa-icon-plus-square:before {
  content: "\e797";
}

.pa-icon-save:before {
  content: "\e792";
}

.pa-icon-close-square:before {
  content: "\e793";
}

.pa-icon-detail:before {
  content: "\e794";
}

.pa-icon-check-square:before {
  content: "\e7a8";
}

.pa-icon-file-text:before {
  content: "\e7b9";
}

.pa-icon-download:before {
  content: "\e7ef";
}

.pa-icon-edit-square:before {
  content: "\e791";
}

.pa-icon-credit-card:before {
  content: "\e7de";
}

.pa-icon-property-safety:before {
  content: "\e7c0";
}

.pa-icon-transaction:before {
  content: "\e786";
}

.pa-icon-database:before {
  content: "\e7b0";
}

.pa-icon-file-done:before {
  content: "\e7b6";
}

.pa-icon-file-sync:before {
  content: "\e7b7";
}

.pa-icon-setting:before {
  content: "\e78e";
}

.pa-icon-file-search:before {
  content: "\e7b4";
}

.pa-icon-solution:before {
  content: "\e7b5";
}

.pa-icon-bulb-fill:before {
  content: "\e866";
}

.pa-icon-star-fill:before {
  content: "\e86a";
}

.pa-icon-star:before {
  content: "\e7df";
}

.pa-icon-minus:before {
  content: "\e7fd";
}

.pa-icon-plus:before {
  content: "\e8fe";
}

.pa-icon-cart:before {
  content: "\e600";
}

.pa-icon-clear:before {
  content: "\e7fc";
}

.pa-icon-bulb:before {
  content: "\e7c4";
}

.pa-icon-arrow-right:before {
  content: "\e7eb";
}

.pa-icon-arrow-left:before {
  content: "\e7ec";
}

.pa-icon-arrow-up:before {
  content: "\e7ed";
}

.pa-icon-arrow-down:before {
  content: "\e7ee";
}

.pa-icon-caret-down:before {
  content: "\e8ec";
}

.pa-icon-caret-up:before {
  content: "\e8ed";
}

.pa-icon-caret-right:before {
  content: "\e8ee";
}

.pa-icon-caret-left:before {
  content: "\e8ef";
}

.pa-icon-search:before {
  content: "\e66c";
}

.pa-icon-success:before {
  content: "\e6b6";
}

