@import '../../styles/vars.scss';
.#{$prefix}-tabs {
  $tabs-line-width: 40px;
  position: relative;
  overflow: hidden;

  &__wrapper {
    height: _var(tabs-height, 44px);
    background-color: _var(tabs-bg-color, #fff);
  }

  &__list {
    position: relative;
    display: flex;
    user-select: none;
    box-sizing: content-box;
    height: 100%;
  }

  &__item {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: _var(tabs-item-padding, 0 4px);
    color: _var(tabs-color, _var(color-black-2));
    font-size: _var(tabs-font-size, 14px);
    line-height: _var(tabs-line-height, 20px);
    min-width: _var(tabs-line-width, $tabs-line-width);
  }

  &__line {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: _var(tabs-line-width, $tabs-line-width);
    height: _var(tabs-line-height, 3px);
    background-color: _var(color-primary);
    border-radius: _var(tabs-line-radius, 3rpx);
  }

  &__content {
    display: block;
  }

  &--item-active {
    color: _var(tabs-color-active, _var(color-black));
    font-weight: 500;
  }

  &--item-disabled {
    color: #c8c9cc;
    cursor: not-allowed;
  }

  &--scrollable {
    white-space: nowrap;
  }
  &--scrollable &__item {
    flex: 1 0 auto;
    padding: _var(tabs-item-scrollable-padding, 0 12px);
  }

  &--animated &__content {
    display: flex;
  }

  &--shrink &__item {
    flex: none;
  }
}
