@import '../../styles/vars.scss';

.#{$prefix}-index-bar {
  height: 100vh;
  overflow: hidden;

  &__sidebar {
    position: fixed;
    top: 50%;
    right: 8px;
    z-index: _var(index-bar-sidebar-z-index, 2);
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
  }

  &__index {
    width: 16px;
    font-weight: _var(index-bar-index-font-weight, 500);
    font-size: _var(index-bar-index-font-size, 10px);
    line-height: _var(index-bar-index-line-height, 16px);
    border-radius: 50%;
  }

  &--index-active {
    color: #fff;
    background-color: _var(color-primary);
    border-radius: 50%;
  }
}
