@import '../../styles/vars.scss';
.#{$prefix}-sort-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24rpx 0;

  .sort-up,
  .sort-down {
    width: 0;
    height: 0;
    border: 8rpx solid transparent;
  }
  .sort-up {
    border-bottom: 8rpx solid #969799;
  }
  .sort-down {
    margin-top: 4rpx;
    border-top: 8rpx solid #969799;
  }

  &.up .sort-up {
    border-bottom-color: _var(color-primary);
  }
  &.down .sort-down {
    border-top-color: _var(color-primary);
  }
}
