@import '../../styles/vars.scss';
.#{$prefix}-checkbox {
  &-button {
    font-size: _var(checkbox-btns-font-size, 14px);
    color: _var(checkbox-btns-color, _var(color-black));
    background-color: _var(checkbox-btns-background, _var(color-gray));
    border-color: _var(checkbox-btns-border-color, _var(color-gray));
    padding: _var(checkbox-btns-padding, 7px 4px);
    border-width: _var(checkbox-btns-border-width, 2rpx);
    border-style: solid;
    text-align: center;
    &.active {
      color: _var(checkbox-btns-active-color, _var(color-primary));
      background-color: _var(checkbox-btns-active-background, rgba(0, 156, 93, 0.1)) !important;
      border-color: _var(checkbox-btns-active-border-color, _var(color-primary)) !important;
    }
    &.disabled {
      opacity: _var(checkbox-btns-disabled-opacity, 0.8);
      cursor: not-allowed;
    }
  }
}
