@import '../../styles/vars.scss';

.#{$prefix}-calendar {
  $calendarColor: _var(calendar-color, _var(color-primary));

  @mixin titleStyle() {
    height: 44px;
    font-weight: 500;
    line-height: 44px;
    text-align: center;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &-header {
    flex-shrink: 0;
    box-shadow: 0 2px 10px rgb(125 126 128 / 16%);

    &__title,
    &__subtitle {
      @include titleStyle();
    }
    &__title {
      font-size: 16px;
    }
    &__subtitle {
      font-size: 14px;
    }
  }

  &__weekdays {
    display: flex;
  }
  &__weekday {
    flex: 1;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
  }

  &-body {
    flex: 1;
    overflow: hidden;
  }
  &__month {
    &-mark {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      color: rgba(242, 243, 245, 0.8);
      font-size: 160px;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
    &-title {
      @include titleStyle();
      font-size: 14px;
    }
  }
  &__days {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    user-select: none;
  }
  &__day {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    font-size: 16px;
    cursor: pointer;

    &__select {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--selected,
    &--start,
    &--end,
    &--start-end {
      color: #fff;
      background-color: $calendarColor;
    }

    &--selected,
    &--start-end {
      border-radius: 4px;
    }
    &--start {
      border-radius: 4px 0 0 4px;
    }
    &--end {
      border-radius: 0 4px 4px 0;
    }
    &--middle {
      color: $calendarColor;
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: currentColor;
        opacity: 0.1;
        content: '';
      }
    }
    &--disabled {
      color: #c8c9cc;
    }
  }

  &__top-info,
  &__bottom-info {
    position: absolute;
    right: 0;
    left: 0;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
  }
  &__top-info {
    top: 6px;
  }
  &__bottom-info {
    bottom: 6px;
  }

  &-footer {
    flex-shrink: 0;
    padding: 8px 13px;
  }

  &__result_text {
    display: block;
    font-size: 14px;
    text-align: center;
    color: _var(color-primary);
    line-height: 20px;
    padding-bottom: 8px;
  }
}