@font-face {
  font-family: "wei-iconfont"; /* Project id 3668565 */
  src: url('iconfont.woff2?t=1663926751600') format('woff2'),
       url('iconfont.woff?t=1663926751600') format('woff'),
       url('iconfont.ttf?t=1663926751600') format('truetype');
}

.wei-iconfont {
  font-family: "wei-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wei-icon-close:before {
  content: "\e6dc";
}

.wei-icon-success:before {
  content: "\e6b6";
}

