@import '../../styles/vars.scss';

.#{$prefix}-textarea {
  $line-height: 24px;

  position: relative;
  display: flex;
  width: 100%;
  background-color: _var(textarea-background-color, #fff);
  padding: _var(textarea-padding, 10px 25px);
  font-size: _var(textarea-font-size, 14px);
  color: _var(textarea-color, _var(color-black));
  line-height: _var(textarea-line-height, $line-height);

  &__textarea {
    width: inherit;
    font: inherit;
    color: inherit;
    line-height: inherit;
    height: _var(textarea-height, $line-height * 3);
    text-align: _var(textarea-text-align, left);
  }

  &__placeholder {
    color: _var(textarea-placeholder-color, _var(color-disabled));
  }

  &__limit {
    position: absolute;
    right: 15px;
    bottom: 12px;
    font-size: _var(textarea-font-size, 14px);
    color: gray;
  }

  &--auto-height {
    line-height: _var(textarea-line-height, _var(textarea-font-size, 14px));
  }

  &--disabled {
    color: _var(textarea-disabled-color, #c8c9cc);
  }
}
