@font-face {
  font-family: "pa-iconfont"; /* Project id 3668565 */
  src: url('iconfont.woff2?t=1670502699059') format('woff2'),
       url('iconfont.woff?t=1670502699059') format('woff'),
       url('iconfont.ttf?t=1670502699059') format('truetype');
}

.pa-iconfont {
  font-family: "pa-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pa-icon-minus-square:before {
  content: "\e796";
}

.pa-icon-plus-square:before {
  content: "\e797";
}

.pa-icon-save:before {
  content: "\e792";
}

.pa-icon-close-square:before {
  content: "\e793";
}

.pa-icon-detail:before {
  content: "\e794";
}

.pa-icon-check-square:before {
  content: "\e7a8";
}

.pa-icon-file-text:before {
  content: "\e7b9";
}

.pa-icon-download:before {
  content: "\e7ef";
}

.pa-icon-check-circle-fill:before {
  content: "\e844";
}

.pa-icon-edit-square:before {
  content: "\e791";
}

.pa-icon-creditcard:before {
  content: "\e7de";
}

.pa-icon-edit:before {
  content: "\e7e1";
}

.pa-icon-propertysafety:before {
  content: "\e7c0";
}

.pa-icon-transaction:before {
  content: "\e786";
}

.pa-icon-database:before {
  content: "\e7b0";
}

.pa-icon-filedone:before {
  content: "\e7b6";
}

.pa-icon-filesync:before {
  content: "\e7b7";
}

.pa-icon-setting:before {
  content: "\e78e";
}

.pa-icon-filesearch:before {
  content: "\e7b4";
}

.pa-icon-solution:before {
  content: "\e7b5";
}

.pa-icon-bulb-fill:before {
  content: "\e866";
}

.pa-icon-star-fill:before {
  content: "\e86a";
}

.pa-icon-question-circle:before {
  content: "\e782";
}

.pa-icon-star:before {
  content: "\e7df";
}

.pa-icon-minus:before {
  content: "\e7fd";
}

.pa-icon-plus:before {
  content: "\e8fe";
}

.pa-icon-message:before {
  content: "\e78a";
}

.pa-icon-cart:before {
  content: "\e600";
}

.pa-icon-clear:before {
  content: "\e7fc";
}

.pa-icon-bulb:before {
  content: "\e7c4";
}

.pa-icon-location:before {
  content: "\e790";
}

.pa-icon-calendar:before {
  content: "\e7d3";
}

.pa-icon-arrow-right:before {
  content: "\e7eb";
}

.pa-icon-arrow-left:before {
  content: "\e7ec";
}

.pa-icon-arrow-up:before {
  content: "\e7ed";
}

.pa-icon-arrow-down:before {
  content: "\e7ee";
}

.pa-icon-caret-down:before {
  content: "\e8ec";
}

.pa-icon-caret-up:before {
  content: "\e8ed";
}

.pa-icon-caret-right:before {
  content: "\e8ee";
}

.pa-icon-caret-left:before {
  content: "\e8ef";
}

.pa-icon-filter:before {
  content: "\e7c7";
}

.pa-icon-copy:before {
  content: "\e7bc";
}

.pa-icon-delete:before {
  content: "\e7c3";
}

.pa-icon-check-circle:before {
  content: "\e77d";
}

.pa-icon-up:before {
  content: "\e6a1";
}

.pa-icon-right:before {
  content: "\e6a2";
}

.pa-icon-left:before {
  content: "\e6db";
}

.pa-icon-search:before {
  content: "\e6e1";
}

.pa-icon-down:before {
  content: "\e69b";
}

.pa-icon-close:before {
  content: "\e6dc";
}

.pa-icon-success:before {
  content: "\e6b6";
}

