@import '../../styles/vars.scss';
.#{$prefix}-cell {
  $padding-x: 16px;

  display: flex;
  position: relative;
  padding: _var(cell-padding-y, 10px) _var(cell-padding-x, $padding-x);
  background-color: _var(cell-bg-color, #fff);
  color: _var(cell-color, _var(color-black-3));
  font-size: _var(cell-font-size, 14px);
  line-height: _var(cell-line-height, 24px);
  overflow: hidden;
  &__title,
  &__value {
    flex: 1;
  }

  &__icon,
  &__title {
    color: _var(cell-title-color, _var(color-black));
  }

  &__icon {
    margin-right: _var(cell-icon-left-margin-left, 4px);
  }

  &__value {
    position: relative;
    overflow: hidden;
    text-align: right;
    vertical-align: middle;
    word-wrap: break-word;
    @include _setVar(textarea-padding, 0);
  }

  &__suffix {
    margin-left: _var(cell-suffix-margin-left, 5rpx);
    color: _var(cell-suffix-color, inherit);
  }

  &__icon-right {
    margin-left: _var(cell-icon-right-margin-left, 4px);
    transition: transform 0.3s ease-in-out;
    transform: rotate(_var(cell-icon-right-rotate, 0));
  }

  &__icon, &__icon-right {
    font-size: _var(cell-icon-size, 16px);
  }

  &__error-message {
    color: _var(color-error);
    font-size: 12px;
    text-align: left;
  }

  &--clickable:active {
    background-color: _var(color-gray);
  }

  &--clickable &__value {
    color: _var(cell-value-color, _var(color-primary));
  }

  &--required::before {
    position: absolute;
    left: 8px;
    color: #ee0a24;
    font-size: 14px;
    content: '*';
  }

  &--border::after {
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
    right: _var(cell-padding-x, $padding-x);
    bottom: 0;
    left: _var(cell-padding-x, $padding-x);
    border-bottom: 1px solid #ebedf0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
