@import '../../styles/vars.scss';
.#{$prefix}-number-input {
  $input-height: 24px;
  background-color: initial;
  border: 0;
  box-sizing: border-box;
  color: _var(number-input-text-color, _var(color-primary));
  height: _var(number-input-height, $input-height);
  line-height: inherit;
  margin: 0;
  min-height: _var(number-input-height, $input-height);
  padding: 0;
  position: relative;
  resize: none;
  width: 100%;
  &.disabled {
    @include _setVar(number-input-text-color, _var(number-input-disabled-color, #323233));
  }
  :deep(.#{$prefix}-number-input-placeholder) {
    color: _var(number-input-placeholder-color, #c8c9cc);
  }
}
