@import '../../styles/vars.scss';

.#{$prefix}-tabbar-item {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  height: 100%;
  color: _var(tabbar-item-color, #7d7e80);
  line-height: 1;
  cursor: pointer;

  &__icon {
    margin-bottom: _var(tabbar-item-icon-margin-bottom, 4px);
    font-size: _var(tabbar-item-icon-size, 22px);
  }

  &__text {
    font-size: _var(tabbar-item-font-size, 10px);
  }

  &--active {
    color: _var(color-primary);
  }
}
