@import '../../styles/vars.scss';
.#{$prefix}-uploader {
  $size: 100px;
  $gap: 10px;

  position: relative;
  display: inline-block;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__preview {
    position: relative;
    margin: _var(uploader-preview-margin, 0 $gap $gap 0);
    cursor: pointer;

    &-image {
      display: block;
      width: _var(uploader-size, $size);
      height: _var(uploader-size, $size);
      border-radius: _var(uploader-preview-radius, 4px);
      overflow: hidden;
    }

    &-type-word,
    &-type-excel,
    &-type-ppt,
    &-type-pdf,
    &-type-markdown,
    &-type-zip,
    &-type-file {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #f7f8fa;
      font-size: _var(uploader-preview-file-size, 36px);
      color: _var(uploader-preview-file-color, _var(color-black-3));
      text {
        font-size: _var(uploader-preview-file-text-size, 14px);
      }
    }
    &-type-word {
      color: #285898;
    }
    &-type-excel {
      color: #15723b;
    }
    &-type-ppt {
      color: #cd3f2b;
    }
    &-type-pdf {
      color: #b40009;
    }
    &-type-markdown {
      color: #6188bd;
    }
    &-type-zip {
      color: #f2bb3c;
    }

    &-delete {
      position: absolute;
      top: 0;
      right: 0;
      width: _var(uploader-delete-width, 14px);
      height: _var(uploader-delete-height, 14px);
      background-color: _var(uploader-delete-bg, rgba(0, 0, 0, 0.7));
      border-radius: 0 _var(uploader-preview-radius, 4px) 0 12px;
      font-size: _var(uploader-delete-icon-size, 12px);

      &-icon {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
      }
    }
  }

  &__upload {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: _var(uploader-size, $size);
    height: _var(uploader-size, $size);
    margin: _var(uploader-preview-margin, 0 $gap $gap 0);
    background-color: #f7f8fa;
    border-radius: _var(uploader-preview-radius, 4px);

    &--hover {
      background-color: _var(color-gray);
    }

    &-icon {
      font-size: 24px;
      color: #dcdee0;
    }
  }

  &--disabled {
    opacity: 0.5;
  }
}
