@import '../../styles/vars.scss';
.#{$prefix}-popup {
  &__content {
    position: relative;
    max-width: _var(popup-max-width, 100%);
    background-color: #fff;
    border-radius: _var(popup-radius, 0);
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 10px;
    font-size: 22px;
    line-height: 22px;
    color: #c8c9cc;
  }
}
