@import '../../styles/vars.scss';

.#{$prefix}-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: _var(empty-padding, 32px 0);

  &-image {
    $imageSize: _var(empty-image-size, 160px);
    width: $imageSize;
    height: $imageSize;
  }

  &-description {
    margin-top: 16px;
    padding: 0 60px;
    color: #969799;
    font-size: 14px;
    line-height: 20px;
  }
}
