@import '../../styles/vars.scss';
.#{$prefix}-nav-bar {
  position: relative;

  &__capsule-menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include _setVar(icon-size, 22px);

    &-line {
      width: 1rpx;
      height: 18px;
    }
  }

  &-content {
    display: block;
  }

  &__title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  &--white &__title {
    color: #fff;
  }

  &--white &__capsule-menu {
    color: #fff;
    border: 1rpx solid rgba(255, 255, 255, 0.25);
    background-color: rgba(0, 0, 0, 0.15);

    &-line {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }

  &--black &__capsule-menu {
    border: 1rpx solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);

    &-line {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &--single &__capsule-menu {
    justify-content: flex-start;
    padding-left: 6px;
    @include _setVar(icon-size, 24px);
    background-color: transparent;
    border-color: transparent;
  }

  &--development &__title {
    font-size: 14px;
    font-weight: normal;
  }
}
